/* Clean up line breaks */
body {
  background-color: darkkhaki;
}

div>h1 {
  text-align: center;
}

/* --- Grid Styling --- */
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: search;
}

.item3 {
  grid-area: main;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

/* --- Card Sytling --- */
.output:not(.metainfo) {
  float: left;
  margin: 1em;
}

.metainfo {
  text-align: center;
  line-height: .10em;
  background-color: rgba(101, 101, 101, 0.48);
  border: 1px solid black;
  margin-left: 50px;
  margin-right: 50px;
}

.card_container {
  margin: 10px auto;
  padding: 20px;
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 0;
  perspective: 1000;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s linear;
  box-shadow: 0px 0px 10px #333;
}

.card_container:hover .card {
  position: relative;
  transform: rotateY(180deg);
  width: 480px;
  height: 480px;
  z-index: 1000;
}

.card_container:hover {
  z-index: 100000;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: 100%;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
  background-color: #3f3f3f;
  z-index: 100000;
}

/* --- Card Styling Back Information --- */
.topBack {
  padding-left: 0px;
}

.front.face {
  background-size: cover;
}

img.backPic {
  width: 25%;
  float: left;
}

/*Search Bar styling  */
.searchField>input {
  display: inherit;
  margin: auto;
  box-shadow: 1px 3px 8px #333;
  border-radius: 6px;
  font-size: x-large;
}

/*
  Group similar styles, either into a new css class, or using

  .styleTitle .styleArtist {
    font-size: 20px;
  }
*/
/* TODO: want to space album art closer to upper list. */
.info-list {
  text-align: center;
  line-height: .5em;
}

.styleTitle {
  font-size: 20px;
  line-height: .5em;
}

.styleArtist {
  font-size: 20px;
}

.trackList h3 {
  float: left;
  text-decoration: underline !important;
}

ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

ol li {
  list-style-type: decimal;
}

button, input[type="submit"] {
  color: #fefefe;
  background-color: transparent;
  border: 1px solid #fefefe;
  border-radius: 5px;
  margin: 0px 10px;
}

/*---------------------new styles---------------------------*/
.transparent {
  background-color: transparent;
  border: none;
}
.change {
  opacity: 0;
  position: relative;
  top: -5px;
  left: -5px;
  transition: ease-in .5s;
}
.change:hover {
  cursor: pointer;
}
.info-list > li:hover .change {
  opacity: 1;
}
.info-list > li:hover > ol .change {
  visibility: hidden;
}
.info-list > li > ol > li:hover .change {
  visibility: visible;
}
