@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Baloo+Bhaijaan|Questrial|Righteous');
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
color: #fafafa;
letter-spacing: 0.03em;
}
.center {
  text-align: center;
}
* {
  margin: 0;
}
h1, h2 {
  font-family: 'Baloo Bhaijaan', cursive;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
h3,h4, p, li {
  font-family: 'Questrial', sans-serif;
}
.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
/* --- Grid Styling --- */


.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
}

/* --- Card Sytling --- */
.output:not(.metainfo) {
  float: left;
  margin: 1em;
}

.metainfo {
  text-align: center;

}
.metainfo h1, .metainfo h2 {

}

.card_container {
  margin: auto;
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 0;
  perspective: 1000;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s linear;
  box-shadow: 0px 0px 10px #333;
}

.card_container:hover .card {
  position: relative;
  transform: rotateY(180deg);
  width: 50vw;
  height: 80vh;
  z-index: 1000;
}

.card_container:hover {
  z-index: 100000;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: 100%;
}

.face.back {
  transform: rotateY(180deg);
  box-sizing: border-box;
  z-index: 100000;
  background-color: #595959;
  padding: 30px;
}
.front.face {
  background-size: cover;
}

img.backPic {
  width: 25%;
  float: left;
}
.card-top {
  display: block;
  overflow: auto;
  padding: 10px;
}
.card-top h1 {
  line-height: 1em;
}
.card-top h2, .card-top h2 {
  line-height: 1.25em;
}

/*default input styling*/
input[type=text] {
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 25px;
  padding-left: 7px;
}
input[type=text]:focus {
    outline: none;
}

/*Search Bar styling  */
.input-wrapper {
  width: 30%;
  margin: auto;
  text-align: center;
  margin-bottom: 2.5%;
}
.input-wrapper input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 2em;
    background-color: transparent;
    color: #fafafa;
    border: 3px solid #fafafa;
    border-radius: 25px;
    padding: 10px;
}

/* When the input field gets focus, change its width to 100% */
.input-wrapper input[type=text]:focus {
    width: 100%;
    outline: none;
}

/*
  Group similar styles, either into a new css class, or using

  .styleTitle .styleArtist {
    font-size: 20px;
  }
*/
/* TODO: want to space album art closer to upper list. */
.info-list {
  margin: auto;
  display: block;
}
.tracklist {
  display: block;
  margin-left: 35%;
}

.styleTitle {
  font-size: 20px;
  line-height: .5em;
}

.styleArtist {
  font-size: 20px;
}
ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

ol li {
  list-style-type: decimal;
}

button, input[type="submit"] {
  color: #fefefe;
  background-color: transparent;
  border: 1px solid #fefefe;
  border-radius: 5px;
}
.button-container {
  margin-top: 20px;
}

/*---------------------new styles---------------------------*/
.transparent {
  background-color: transparent;
  border: none;
}
.change {
  opacity: 0;
  position: relative;
  top: -5px;
  left: -5px;
  transition: ease-in .5s;
}
.change:hover {
  cursor: pointer;
}
li:hover .change {
  opacity: 1;
}

/*media queries*/
@media (max-width:961px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  img.backPic {
    display: none;
  }
  .card_container:hover .card {
    position: relative;
    transform: rotateY(180deg);
    width: 45vw;
    height: 80vh;
    z-index: 1000;
  }
  .card_container {
    width: 45vw;
    height: 40vw;
  }
  .tracklist {
    display: block;
    margin-left: 5%;
  }
  .button-container {
    margin-top: 5px;
  }
  .change {
    opacity: 1;
  }
}
@media (max-width:525px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .gridWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  img.backPic {
    display: none;
  }
  .card_container:hover .card {
    position: relative;
    transform: rotateY(180deg);
    width: 90vw;
    height: 80vh;
    z-index: 1000;
  }
  .card_container {
    width: 90vw;
    height: 80vw;
  }
  .tracklist {
    display: block;
    margin-left: 5%;
  }
  .button-container {
    margin-top: 5px;
  }
  .change {
    opacity: 1;
  }
}
